asgiref==3.9.0
astroid==3.3.10
black==25.1.0
click==8.2.1
colorama==0.4.6
dill==0.4.0
dj-database-url==3.0.1
Django==5.2.4
flake8==7.3.0
gunicorn==21.2.0
isort==6.0.1
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pillow==11.3.0
platformdirs==4.3.8
psycopg2-binary==2.9.10
pycodestyle==2.14.0
pyflakes==3.4.0
pylint==3.3.7
python-decouple==3.8
redis==5.0.1
sqlparse==0.5.3
tomlkit==0.13.3
tzdata==2025.2
wheel==0.45.1
whitenoise==6.6.0
